{% extends "base.html.twig" %}
{% block title %}Biblioteca{% endblock %}

{% block body %}
    <h1> Biblioteca Personal Andreu Furió </h1>
    <h2>{{ data }}</h2>
    <p>
        Pàgina d'Inici<br>
        Projecte Symfony 2n DAW<br>
        Curs 21/22
    </p>

    {% if llibres %}
        <ul>
            {% for llibre in llibres %}
                <li><a href="/llibre/{{ llibre.isbn }}">{{ llibre.titol }}</a><a style="margin-left: 10px;" href="/llibre/editar/{{ llibre.isbn }}">Modificar llibre <img   class="modificarimg" src="{{ asset('imgs/editar.png') }}" /></a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No s'han trobat llibres</p>
    {% endif %}

    <img src="{{ asset('imgs/llibres.png') }}" class="imatge"/>
{% endblock %}