{% extends "base.html.twig" %}
{% block title %}Major que {{ pagines }}{% endblock %}
{% block body %}
    <h1> Llibres amb un numero de pàgines major que {{ pagines }} </h1>

    {% if llibres %}
        <ul>
            {% for llibre in llibres %}
                <li><a href="/llibre/{{ llibre.isbn }}">{{ llibre.titol }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No s'han trobat llibres</p>
    {% endif %}

    <img src="{{ asset('imgs/llibres.png') }}" class="imatge"/>
{% endblock %}