{% extends 'base.html.twig' %}
{% block title %}Nou Llibre{% endblock %}
{% block body %}
    {% block menu %}
        <a href="/">Inici</a>
        <a href="/llibre/nou">Nou Llibre</a>
    {% endblock %}
    <h1>Nou Llibre</h1>
    {% if error %}
        <h3 style="color: red;">{{ error }}</h3>
    {% endif %}
    {% form_theme formulari 'bootstrap_5_layout.html.twig' %}
    {{ form_start(formulari) }}
    {{ form_widget(formulari) }}
    {{ form_end(formulari) }}

    {% if imatge %}
        <h2>Imatge actual:</h2>
        <img src="{{ asset('imgs/'~imatge) }}" />
    {% endif %}
    
{% endblock %}